<!-- <div class="flex flex-col items-center">
  <p class="text-lg text-gray-700">Turno di: {{ currentPlayer$ | async }}</p>
  <div class="flex items-center justify-center mt-4">
    <p class="text-3xl font-semibold text-blue-600">
      Tempo rimanente: {{ timer$ | async }}s
    </p>
  </div>
  <div class="mt-4">
    <div class="relative">
      <div class="absolute inset-0 rounded-full border-4 border-gray-300">
        <div
          class="absolute inset-0 rounded-full bg-blue-100"
          style="clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)"
        ></div>
      </div>
      <div
        class="flex items-center justify-center h-20 w-20 rounded-full bg-blue-500 text-white font-bold"
      >
        {{ timer$ | async }}
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="timer">
  <div class="svg-container">
    <svg class="circle-svg" width="200" height="200">
      <circle class="bg-circle" cx="70" cy="70" r="60"></circle>
      <circle class="progress-circle" cx="70" cy="70" r="60"></circle>
    </svg>
    <div class="time">
      <p>SECONDS</p>
      <span id="seconds">0</span>
      <p>REMAINING</p>
    </div>
  </div>
</div> -->
<div class="timer">
  <div class="svg-container">
    <svg class="circle-svg" width="200" height="200">
      <circle
        class="bg-circle"
        cx="70"
        cy="70"
        r="60"
        fill="none"
        stroke="#e6e6e6"
        stroke-width="10"
      ></circle>
      <circle
        #progressCircle
        class="progress-circle"
        cx="70"
        cy="70"
        r="60"
        fill="none"
        stroke="#4caf50"
        stroke-width="10"
      ></circle>
    </svg>
    <div class="time">
      <p>SECONDS</p>
      <span id="seconds">{{ seconds }}</span>
      <p>REMAINING</p>
    </div>
  </div>
</div>
