.svg-container {
  // position: relative;
  width: 100%;
  height: 13vh;
}

.timer {
  width: 100%;
  height: 11vh;
}

.circle-svg {
  // position: absolute;
  bottom: 29px;
  right: -15px;
  transform: rotate(-90deg);
}

.bg-circle {
  fill: none;
  stroke: #b89ebe;
  stroke-width: 15;
}

.progress-circle {
  fill: none;
  stroke: #00ffff;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transition: stroke-dashoffset 1s linear;
}

.time {
  position: absolute;
  top: 150px;
  left: 69px;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  font-size: 8px;
  width: 44px;
}

#seconds {
  font-size: 40px;
  font-weight: bold;
  font-family: inherit;
}
