p {
  transition: color 1s ease;
  font-weight: 500;
  font-size: 20px;
}
.yellow {
  color: yellow;
}
.orange {
  color: orange;
}
.red {
  color: red;
}
.green {
  color: green;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.pulse-animation {
  animation: pulse 0.5s infinite;
}
