<main>
  <ng-container *ngIf="game">
    <div class="flex flex-col items-center">
      <h1
        class="text-7xl text-center mb-12 text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-sky-400"
      >
        Forza 4
      </h1>

      <div>
        <app-timer></app-timer>
      </div>
      <div class="flex items-center">
        <h1
          class="text-7xl text-center mb-12 text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-sky-400"
        >
          Player1
        </h1>
        <div
          class="grid grid-cols-6 gap-1 bg-blue-500 p-2 rounded rotate-90 neon-border mx-5"
        >
          <div *ngFor="let row of game?.board">
            <div
              *ngFor="let cell of row"
              (click)="onColumnClick(cell.col)"
              class="w-12 h-12 bg-white rounded-full flex items-center justify-center cursor-pointer hover:bg-gray-200 m-1"
            >
              <div
                [ngClass]="{
                'bg-red-500': cell.occupiedBy === game.players.player1,
                'bg-yellow-500': cell.occupiedBy === game.players.player2,
                }"
                class="w-10 h-10 rounded-full"
              ></div>
            </div>
          </div>
        </div>
        <h1
          class="text-7xl text-center mb-12 text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-sky-400"
        >
          Player2
        </h1>
      </div>

      <div class="mt-4">
        <button
          (click)="resetGame()"
          class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 mb-5"
        >
          Resetta Gioco
        </button>
      </div>
    </div>
  </ng-container>
</main>
