main {
  min-height: 100vh;
  background-image: url(../../../../../public/sfondo_gioco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@keyframes neon-border {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.8),
      0 0 30px rgba(255, 0, 0, 0.8), 0 0 40px rgba(255, 0, 0, 0.8);
    border-color: rgb(255, 0, 0);
  }
  25% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.8),
      0 0 30px rgba(0, 255, 0, 0.8), 0 0 40px rgba(0, 255, 0, 0.8);
    border-color: rgb(0, 255, 0);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.8), 0 0 20px rgba(0, 0, 255, 0.8),
      0 0 30px rgba(0, 0, 255, 0.8), 0 0 40px rgba(0, 0, 255, 0.8);
    border-color: rgb(0, 0, 255);
  }
  75% {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.8),
      0 0 30px rgba(255, 255, 0, 0.8), 0 0 40px rgba(255, 255, 0, 0.8);
    border-color: rgb(255, 255, 0);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.8),
      0 0 30px rgba(255, 0, 0, 0.8), 0 0 40px rgba(255, 0, 0, 0.8);
    border-color: rgb(255, 0, 0);
  }
}

.neon-border {
  position: relative;
  padding: 20px;
  background-color: rgb(99 70 239 / 41%);
  color: white;
  text-align: center;
  border-radius: 12px;
  border: 4px solid;
  animation: neon-border 5s linear infinite;
}

.bg-color {
  background-color: rgba(98, 70, 239, 0.651);
  border-radius: 20%;
  width: 25em;
  height: 25em;
}

@keyframes expand-border {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.player-title {
  position: relative;
  padding-bottom: 20px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #ff69b4;
    animation: expand-border 1s ease-out forwards;
  }
}

@keyframes fall {
  0% {
    transform: translateX(-600%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fall {
  animation: fall 0.4s ease-in;
}

