main {
  height: 100vh;
  background-image: url(../../../../public/sfondo_gioco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
