<main
  class="flex justify-center items-center min-h-screen bg-gray-100 h-screen"
>
  <div class="p-16 bg-white rounded-2xl shadow-lg w-full max-w-2xl">
    <h1
      class="text-5xl text-center mb-12 text-transparent bg-clip-text bg-gradient-to-r from-pink-600 to-sky-400"
    >
      Forza 4
    </h1>
    <div class="player-setting">
      <!-- Toggle Buttons -->
      <div class="flex justify-center space-x-4 mb-8">
        <button
          class="rounded-sm bg-slate-900 p-4 font-semibold text-white shadow-sm hover:bg-black flex items-center"
          (click)="toggleNewGame()"
          *ngIf="!isNewGame && !isSavedGame"
        >
          NUOVA PARTITA
        </button>
        <button
          class="rounded-sm bg-slate-900 p-4 font-semibold text-white shadow-sm hover:bg-black flex items-center"
          (click)="toggleSavedGame()"
          *ngIf="!isNewGame && !isSavedGame"
        >
          CARICA PARTITA
        </button>
        <button
          class="rounded-sm bg-slate-900 p-4 font-semibold text-white shadow-sm hover:bg-black flex items-center"
          (click)="goBack()"
          *ngIf="isSavedGame || isNewGame"
        >
          TORNA INDIETRO
        </button>
      </div>

      <form (ngSubmit)="onSubmit()" *ngIf="isNewGame">
        <div class="mb-4">
          <input
            type="text"
            id="playerName1"
            [(ngModel)]="player1Name"
            name="playerName1"
            required
            class="border border-gray-300 rounded p-4 w-full"
            placeholder="Player 1"
          />
        </div>

        <div class="mb-6" *ngIf="!isAgainstAI">
          <input
            type="text"
            id="playerName2"
            [(ngModel)]="player2Name"
            name="playerName2"
            required
            class="border border-gray-300 rounded p-4 w-full"
            placeholder="Player 2"
          />
        </div>

        <div class="mb-6 flex items-center">
          <input
            type="checkbox"
            id="aiToggle"
            [(ngModel)]="isAgainstAI"
            name="aiToggle"
            class="mr-2"
          />
          <label for="aiToggle" class="text-gray-700"
            >Gioca contro il Computer</label
          >
        </div>

        <button
          type="submit"
          class="w-full bg-indigo-400 text-white py-3 rounded hover:bg-indigo-500 text-xl font-semibold"
        >
          GIOCA
        </button>
      </form>

      <div
        *ngIf="isSavedGame"
        class="bg-white p-8 rounded shadow overflow-y-scroll h-80 invisible-scrollbar"
      >
        <h2 class="text-center text-xl mb-4">Partite Salvate</h2>
        <ul>
          <li
            *ngFor="let game of savedGames"
            class="p-4 mb-2 bg-gray-100 rounded hover:bg-gray-200 cursor-pointer flex justify-between items-center"
            (click)="selectSavedGame(game)"
          >
            <span
              >{{ game.players.player1 }} vs {{ game.players.player2 }}</span
            >
            <span class="text-sm text-gray-500"
              >ID: {{ game.id }}
              <span
                (click)="delete(game.id); $event.stopPropagation()"
                class="bg-red-500 text-white font-bold px-4 py-2 rounded-sm z-40"
                >DELETE</span
              ></span
            >
          </li>
        </ul>
        <p *ngIf="savedGames.length === 0" class="text-center text-gray-500">
          Nessuna partita salvata.
        </p>
      </div>
    </div>
  </div>
</main>
